@model ASP.NETMVC.Models.ProductModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Product detail";
}


<div class="card bg-success text-light">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
        <p class="card-text">ID: @Model.ID</p>
        <p class="card-text">Price: @Model.Price</p>
    </div>
</div>