@model string
@{

    Layout = "_Layout";
    ViewData["Title"] = "Xin chào ASP";
}


<div class="card bg-danger text-white">
    <h1 class="card-header">Xin chào @Model</h1>
    <div class="card-body">
        <p class="card-text">Xin chào đây là @this.Path</p>
        <p class="card-text">Đường dẫn @this.Url</p>
    </div>
</div>