@{
    ViewData["Title"] = "Xóa DB";
}
<h1>Xóa DB</h1>
<p class="alert alert-danger">Bạn có chắc chắn xóa</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xóa DB</button>
</form>

<hr>

<a asp-action="Index">Quản lý DB</a>