@page "/aboutrazor.html"
@{
    ViewData["title"] = "Giới thiệu về Razor Page";
    Layout = "_Layout";
}

<div class="container">
    <h1>Giới thiệu về RazorPage</h1>
    <p>Razor Page là một template engine cho phép chèn code C# trực tiếp vào HTML </p>
</div>