@inject ASP.NETMVC.Services.ProductService service
@{
    ViewData["Title"] = "Danh sách các sản phẩm";
}

<h1>Các hành tinh trong hệ mặt trời</h1>
<div class="list-group">
    @foreach (var s in service)
    {
        <a asp-action="Product_info" asp-controller="Product" asp-area="ProductManage" asp-route-id="@s.ID"
        class="list-group-item list-group-item-action">
            @s.ID - @s.Name - @s.Price
        </a>
    }
</div>